<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.6.4" targetFramework="net35" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net35" />
  <package id="OpenCover" version="4.6.519" targetFramework="net461" />
  <package id="ReportGenerator" version="2.5.7" targetFramework="net35" />
</packages>