<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<#@ Assembly Name="System.Core" #>
<#@ Import Namespace="System" #>
<#@ Import Namespace="System.Collections.Generic" #>
<#@ Import Namespace="System.Linq" #>
<#@ Import Namespace="System.Runtime.InteropServices" #>

// Copyright (C) 2017 Luca Piccioni
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

using System;
using System.Diagnostics;
using System.Runtime.InteropServices;

using NUnit.Framework;

#if HAVE_NUMERICS
using System.Numerics;
#endif

namespace OpenGL.Test
{
	class Vertex4TestBase
	{
		protected static double Next(Random random)
		{
			return (Next(random, 16.0, 32.0));
		}

		protected static double Next(Random random, double minValue, double maxValue)
		{
			return (random.NextDouble() * (maxValue - minValue) + minValue);
		}
	}

<#
	string[] underlyingType =	new[] { "byte", "sbyte", "ushort", "short", "uint", "int", "float", "double", "HalfFloat" };
	string[] postfixes =		new[] { "ub",   "b",     "us",     "s",     "ui",   "i",   "f",     "d",      "hf" };
	int[] signedTypes =			new[] {  0,      1,       0,        1,       0,      1,     1,       1,        0 };
	int[] integerTypes =		new[] {  1,      1,       1,        1,       1,      1,     0,       0,        0 };
	string[] zeroes =			new[] { "0",    "0",     "0",      "0",     "0",    "0",   "0.0f",  "0.0",     "(HalfFloat)0.0f" };
	string[] ones =				new[] { "1",    "1",     "1",      "1",     "1",    "1",   "1.0f",  "1.0",     "(HalfFloat)1.0f" };
	string[] epsilons		 =	new[] { "0",    "0",     "0",      "0",     "0",    "0",   "1e-5",  "1e-10",   "(HalfFloat)1e-3"};

	for (int i = 0; i < underlyingType.Length; i++) {
		string className = String.Format("Vertex4{0}", postfixes[i]);
		string baseType = underlyingType[i];
		int signedType = signedTypes[i];
		int integerType = integerTypes[i];
		string zero = zeroes[i], one = ones[i];
		string epsilon = epsilons[i];
#>
	[TestFixture, Category("Math")]
	class <#= className #>Test : Vertex3TestBase
	{
		#region Constructors

		[Test]
		public void <#= className #>_Constructor1()
		{
			Random random = new Random();
			<#= baseType #> randomValue = (<#= baseType #>)Next(random);
			
			<#= className #> v = new <#= className #>(randomValue);

			Assert.AreEqual(randomValue, v.x);
			Assert.AreEqual(randomValue, v.y);
			Assert.AreEqual(randomValue, v.z);
		}

		[Test]
		public void <#= className #>_Constructor2()
		{
			Random random = new Random();
			<#= baseType #> randomValueX = (<#= baseType #>)Next(random);
			<#= baseType #> randomValueY = (<#= baseType #>)Next(random);
			<#= baseType #> randomValueZ = (<#= baseType #>)Next(random);
			<#= baseType #> randomValueW = (<#= baseType #>)Next(random);
			<#= className #> v = new <#= className #>();

			Assert.DoesNotThrow(() => v = new <#= className #>(new <#= baseType #>[] {
				randomValueX, randomValueY, randomValueZ
			}));

			Assert.AreEqual(randomValueX, v.x);
			Assert.AreEqual(randomValueY, v.y);
			Assert.AreEqual(randomValueZ, v.z);

			v = new <#= className #>(new <#= baseType #>[] {
				randomValueX, randomValueY, randomValueZ, randomValueW
			});

			Assert.AreEqual(randomValueX, v.x);
			Assert.AreEqual(randomValueY, v.y);
			Assert.AreEqual(randomValueZ, v.z);
			Assert.AreEqual(randomValueW, v.w);
		}

		[Test]
		public void <#= className #>_Constructor3()
		{
			Random random = new Random();
			<#= baseType #> randomValueX = (<#= baseType #>)Next(random);
			<#= baseType #> randomValueY = (<#= baseType #>)Next(random);
			<#= baseType #> randomValueZ = (<#= baseType #>)Next(random);

			<#= className #> v = new <#= className #>(
				randomValueX, randomValueY, randomValueZ
			);

			Assert.AreEqual(randomValueX, v.x);
			Assert.AreEqual(randomValueY, v.y);
			Assert.AreEqual(randomValueZ, v.z);
		}

		#endregion

		#region Properties

		[Test]
		public void <#= className #>_MarshalSize()
		{
			Assert.AreEqual(Marshal.SizeOf(typeof(<#= className #>)), <#= className #>.Size);
		}

		#endregion

		#region Arithmetic Operators

<#
		if (signedType != 0) {
#>
		[Test]
		public void <#= className #>_OperatorNegate()
		{
			Random random = new Random();
			
			<#= baseType #> x = (<#= baseType #>)Next(random);
			<#= baseType #> y = (<#= baseType #>)Next(random);
			<#= baseType #> z = (<#= baseType #>)Next(random);

			<#= className #> v = new <#= className #>(x, y, z);
			<#= className #> n = -v;

			Assert.AreEqual(-x, n.x);
			Assert.AreEqual(-y, n.y);
			Assert.AreEqual(-z, n.z);
		}
<#
		}
#>
		[Test]
		public void <#= className #>_OperatorAdd()
		{
			Random random = new Random();
			
			<#= baseType #> x1 = (<#= baseType #>)Next(random);
			<#= baseType #> y1 = (<#= baseType #>)Next(random);
			<#= baseType #> z1 = (<#= baseType #>)Next(random);

			<#= className #> v1 = new <#= className #>(x1, y1, z1);

			<#= baseType #> x2 = (<#= baseType #>)Next(random);
			<#= baseType #> y2 = (<#= baseType #>)Next(random);
			<#= baseType #> z2 = (<#= baseType #>)Next(random);

			<#= className #> v2 = new <#= className #>(x2, y2, z2);

			<#= className #> v = v1 + v2;

			Assert.AreEqual((<#= baseType #>)(x1 + x2), v.x);
			Assert.AreEqual((<#= baseType #>)(y1 + y2), v.y);
			Assert.AreEqual((<#= baseType #>)(z1 + z2), v.z);
		}

		[Test]
		public void <#= className #>_OperatorSub()
		{
			Random random = new Random();
			
			<#= baseType #> x1 = (<#= baseType #>)Next(random);
			<#= baseType #> y1 = (<#= baseType #>)Next(random);
			<#= baseType #> z1 = (<#= baseType #>)Next(random);

			<#= className #> v1 = new <#= className #>(x1, y1, z1);

			<#= baseType #> x2 = (<#= baseType #>)Next(random);
			<#= baseType #> y2 = (<#= baseType #>)Next(random);
			<#= baseType #> z2 = (<#= baseType #>)Next(random);

			<#= className #> v2 = new <#= className #>(x2, y2, z2);

			<#= className #> v = v1 - v2;

			Assert.AreEqual((<#= baseType #>)(x1 - x2), v.x);
			Assert.AreEqual((<#= baseType #>)(y1 - y2), v.y);
			Assert.AreEqual((<#= baseType #>)(z1 - z2), v.z);
		}

		[Test]
		public void <#= className #>_OperatorMultiplySingle()
		{
			Random random = new Random();
			
			<#= baseType #> x1 = (<#= baseType #>)Next(random);
			<#= baseType #> y1 = (<#= baseType #>)Next(random);
			<#= baseType #> z1 = (<#= baseType #>)Next(random);
			double s = Next(random, 0.0, 32.0);

			<#= className #> v1 = new <#= className #>(x1, y1, z1);

			<#= className #> v = v1 * (float)s;

			Assert.AreEqual((<#= baseType #>)(x1 * (float)s), v.x);
			Assert.AreEqual((<#= baseType #>)(y1 * (float)s), v.y);
			Assert.AreEqual((<#= baseType #>)(z1 * (float)s), v.z);
		}

		[Test]
		public void <#= className #>_OperatorDivideSingle()
		{
			Random random = new Random();
			
			<#= baseType #> x1 = (<#= baseType #>)Next(random);
			<#= baseType #> y1 = (<#= baseType #>)Next(random);
			<#= baseType #> z1 = (<#= baseType #>)Next(random);
			double s = Next(random, 1.0, 32.0);

			<#= className #> v1 = new <#= className #>(x1, y1, z1);

			<#= className #> v = v1 / (float)s;

			Assert.AreEqual((<#= baseType #>)(x1 / (float)s), v.x);
			Assert.AreEqual((<#= baseType #>)(y1 / (float)s), v.y);
			Assert.AreEqual((<#= baseType #>)(z1 / (float)s), v.z);
		}

<#
		if (integerType != 0) {
#>
		[Test]
		public void <#= className #>_OperatorScalarMultiply()
		{
			Random random = new Random();
			
			<#= baseType #> x1 = (<#= baseType #>)Next(random);
			<#= baseType #> y1 = (<#= baseType #>)Next(random);
			<#= baseType #> z1 = (<#= baseType #>)Next(random);
			<#= baseType #> s = (<#= baseType #>)Next(random, 0.0, 32.0);

			<#= className #> v1 = new <#= className #>(x1, y1, z1);

			<#= className #> v = v1 * s;

			Assert.AreEqual((<#= baseType #>)(x1 * s), v.x);
			Assert.AreEqual((<#= baseType #>)(y1 * s), v.y);
			Assert.AreEqual((<#= baseType #>)(z1 * s), v.z);
		}

		[Test]
		public void <#= className #>_OperatorScalarDivide()
		{
			Random random = new Random();
			
			<#= baseType #> x1 = (<#= baseType #>)Next(random);
			<#= baseType #> y1 = (<#= baseType #>)Next(random);
			<#= baseType #> z1 = (<#= baseType #>)Next(random);
			<#= baseType #> s = (<#= baseType #>)Next(random, 1.0, 32.0);

			<#= className #> v1 = new <#= className #>(x1, y1, z1);

			<#= className #> v = v1 / s;

			Assert.AreEqual((<#= baseType #>)(x1 / s), v.x);
			Assert.AreEqual((<#= baseType #>)(y1 / s), v.y);
			Assert.AreEqual((<#= baseType #>)(z1 / s), v.z);
		}
<#
		}
#>

		#endregion

		#region Equality Operators

		[Test]
		public void <#= className #>_OperatorEquality()
		{
			<#= className #> v = <#= className #>.UnitX;

			Assert.IsTrue(v == <#= className #>.UnitX);
			Assert.IsFalse(v == <#= className #>.UnitY);
		}

		[Test]
		public void <#= className #>_OperatorInequality()
		{
			<#= className #> v = <#= className #>.UnitX;

			Assert.IsFalse(v != <#= className #>.UnitX);
			Assert.IsTrue(v != <#= className #>.UnitY);
		}

		#endregion

		#region Cast Operators

		[Test]
		public void <#= className #>_CastToArray()
		{
			Random random = new Random();
			
			<#= baseType #> x = (<#= baseType #>)Next(random);
			<#= baseType #> y = (<#= baseType #>)Next(random);
			<#= baseType #> z = (<#= baseType #>)Next(random);

			<#= className #> v = new <#= className #>(x, y, z);
			<#= baseType #>[] vArray = (<#= baseType #>[])v;

			Assert.AreEqual(v.x, vArray[0]);
			Assert.AreEqual(v.y, vArray[1]);
			Assert.AreEqual(v.z, vArray[2]);
		}

		[Test]
		public void <#= className #>_CastToVertex2f()
		{
			Random random = new Random();
			
			<#= baseType #> x = (<#= baseType #>)Next(random);
			<#= baseType #> y = (<#= baseType #>)Next(random);
			<#= baseType #> z = (<#= baseType #>)Next(random);

			<#= className #> v = new <#= className #>(x, y, z);
			Vertex2f v2f = (Vertex2f)v;

			Assert.AreEqual(v.x, (float)v2f.x, 1e-4f);
			Assert.AreEqual(v.y, (float)v2f.y, 1e-4f);
		}

		[Test]
		public void <#= className #>_CastToVertex3f()
		{
			Random random = new Random();
			
			<#= baseType #> x = (<#= baseType #>)Next(random);
			<#= baseType #> y = (<#= baseType #>)Next(random);
			<#= baseType #> z = (<#= baseType #>)Next(random);

			<#= className #> v = new <#= className #>(x, y, z);
			Vertex3f v3f = (Vertex3f)v;

			Assert.AreEqual(v.x, v3f.x, 1e-4f);
			Assert.AreEqual(v.y, v3f.y, 1e-4f);
			Assert.AreEqual(v.z, v3f.z, 1e-4f);
		}

		[Test]
		public void <#= className #>_CastToVertex3d()
		{
			Random random = new Random();
			
			<#= baseType #> x = (<#= baseType #>)Next(random);
			<#= baseType #> y = (<#= baseType #>)Next(random);
			<#= baseType #> z = (<#= baseType #>)Next(random);

			<#= className #> v = new <#= className #>(x, y, z);
			Vertex3d v3d = (Vertex3d)v;

			Assert.AreEqual(v.x, v3d.x, 1e-4);
			Assert.AreEqual(v.y, v3d.y, 1e-4);
			Assert.AreEqual(v.z, v3d.z, 1e-4);
		}

		[Test]
		public void <#= className #>_CastToVertex4f()
		{
			Random random = new Random();
			
			<#= baseType #> x = (<#= baseType #>)Next(random);
			<#= baseType #> y = (<#= baseType #>)Next(random);
			<#= baseType #> z = (<#= baseType #>)Next(random);

			<#= className #> v = new <#= className #>(x, y, z);
			Vertex4f v4f = (Vertex4f)v;

			Assert.AreEqual(v.x, v4f.x, 1e-4);
			Assert.AreEqual(v.y, v4f.y, 1e-4);
			Assert.AreEqual(v.z, v4f.z, 1e-4);
			Assert.AreEqual(1.0f, v4f.w, 1e-4);
		}

		[Test]
		public void <#= className #>_CastToVertex4d()
		{
			Random random = new Random();
			
			<#= baseType #> x = (<#= baseType #>)Next(random);
			<#= baseType #> y = (<#= baseType #>)Next(random);
			<#= baseType #> z = (<#= baseType #>)Next(random);

			<#= className #> v = new <#= className #>(x, y, z);
			Vertex4d v4d = (Vertex4d)v;

			Assert.AreEqual(v.x, v4d.x, 1e-4);
			Assert.AreEqual(v.y, v4d.y, 1e-4);
			Assert.AreEqual(v.z, v4d.z, 1e-4);
			Assert.AreEqual(1.0f, v4d.w, 1e-4);
		}

		#endregion

		#region Vertex Methods

<#
		float moduleT1 = (float)Math.Sqrt(1.0 +  4.0 +  9.0);
		float moduleT2 = (float)Math.Sqrt(4.0 + 25.0 + 49.0);
#>
		[Test]
		public void <#= className #>_Module()
		{
			Assert.AreEqual(<#= moduleT1 #>f, new <#= className #>((<#= baseType #>)1.0, (<#= baseType #>)2.0, (<#= baseType #>)3.0).Module(), 1e-4f);
			Assert.AreEqual(<#= moduleT2 #>f, new <#= className #>((<#= baseType #>)2.0, (<#= baseType #>)5.0, (<#= baseType #>)7.0).Module(), 1e-4f);
		}

<#
		float moduleSquaredT1 = (float)(1.0 +  4.0 +  9.0);
		float moduleSquaredT2 = (float)(4.0 + 25.0 + 49.0);
#>
		[Test]
		public void <#= className #>_ModuleSquared()
		{
			Assert.AreEqual(<#= moduleSquaredT1 #>f, new <#= className #>((<#= baseType #>)1.0, (<#= baseType #>)2.0, (<#= baseType #>)3.0).ModuleSquared(), 1e-4f);
			Assert.AreEqual(<#= moduleSquaredT2 #>f, new <#= className #>((<#= baseType #>)2.0, (<#= baseType #>)5.0, (<#= baseType #>)7.0).ModuleSquared(), 1e-4f);
		}

		[Test]
		public void <#= className #>_Normalize()
		{
			Assert.DoesNotThrow(delegate() { <#= className #>.Zero.Normalize(); });

			<#= className #> v;

			v = <#= className #>.UnitX * (<#= baseType #>)2.0f;
			v.Normalize();
			Assert.AreEqual(<#= className #>.UnitX, v);

			v = <#= className #>.UnitY * (<#= baseType #>)2.0f;
			v.Normalize();
			Assert.AreEqual(<#= className #>.UnitY, v);

			v = <#= className #>.UnitZ * (<#= baseType #>)2.0f;
			v.Normalize();
			Assert.AreEqual(<#= className #>.UnitZ, v);
		}

		[Test]
		public void <#= className #>_Normalized()
		{
			<#= className #> v;

			Assert.DoesNotThrow(delegate() { v = <#= className #>.Zero.Normalized; });

			v = <#= className #>.UnitX * (<#= baseType #>)2.0f;
			Assert.AreEqual(<#= className #>.UnitX, v.Normalized);

			v = <#= className #>.UnitY * (<#= baseType #>)2.0f;
			Assert.AreEqual(<#= className #>.UnitY, v.Normalized);

			v = <#= className #>.UnitZ * (<#= baseType #>)2.0f;
			Assert.AreEqual(<#= className #>.UnitZ, v.Normalized);
		}

		[Test]
		public void <#= className #>_Min()
		{
			Assert.Throws<ArgumentNullException>(() => <#= className #>.Min(null));

			<#= className #>[] v = new <#= className #>[] {
				new <#= className #>((<#= baseType #>)1.0f, (<#= baseType #>)13.0f, (<#= baseType #>)22.0f),
				new <#= className #>((<#= baseType #>)2.0f, (<#= baseType #>)12.0f, (<#= baseType #>)21.0f),
				new <#= className #>((<#= baseType #>)3.0f, (<#= baseType #>)11.0f, (<#= baseType #>)23.0f),
			};

			<#= className #> min = <#= className #>.Min(v);

			Assert.AreEqual(
				new <#= className #>((<#= baseType #>)1.0f, (<#= baseType #>)11.0f, (<#= baseType #>)21.0f),
				min
			);
		}

		[Test]
		public void <#= className #>_Min_Unsafe()
		{
			unsafe {
				Assert.Throws<ArgumentNullException>(() => <#= className #>.Min(null, 0));
			}

			<#= className #>[] v = new <#= className #>[] {
				new <#= className #>((<#= baseType #>)1.0f, (<#= baseType #>)13.0f, (<#= baseType #>)22.0f),
				new <#= className #>((<#= baseType #>)2.0f, (<#= baseType #>)12.0f, (<#= baseType #>)21.0f),
				new <#= className #>((<#= baseType #>)3.0f, (<#= baseType #>)11.0f, (<#= baseType #>)23.0f),
			};

			<#= className #> min;

			unsafe {
				fixed (<#= className #>* vPtr = v) {
					min = <#= className #>.Min(vPtr, (uint)v.Length);
				}
			}

			Assert.AreEqual(
				new <#= className #>((<#= baseType #>)1.0f, (<#= baseType #>)11.0f, (<#= baseType #>)21.0f),
				min
			);
		}

		[Test]
		public void <#= className #>_Max()
		{
			Assert.Throws<ArgumentNullException>(() => <#= className #>.Max(null));

			<#= className #>[] v = new <#= className #>[] {
				new <#= className #>((<#= baseType #>)1.0f, (<#= baseType #>)13.0f, (<#= baseType #>)22.0f),
				new <#= className #>((<#= baseType #>)2.0f, (<#= baseType #>)12.0f, (<#= baseType #>)21.0f),
				new <#= className #>((<#= baseType #>)3.0f, (<#= baseType #>)11.0f, (<#= baseType #>)23.0f),
			};

			<#= className #> max = <#= className #>.Max(v);

			Assert.AreEqual(
				new <#= className #>((<#= baseType #>)3.0f, (<#= baseType #>)13.0f, (<#= baseType #>)23.0f),
				max
			);
		}

		[Test]
		public void <#= className #>_Max_Unsafe()
		{
			unsafe {
				Assert.Throws<ArgumentNullException>(() => <#= className #>.Max(null, 0));
			}

			<#= className #>[] v = new <#= className #>[] {
				new <#= className #>((<#= baseType #>)1.0f, (<#= baseType #>)13.0f, (<#= baseType #>)22.0f),
				new <#= className #>((<#= baseType #>)2.0f, (<#= baseType #>)12.0f, (<#= baseType #>)21.0f),
				new <#= className #>((<#= baseType #>)3.0f, (<#= baseType #>)11.0f, (<#= baseType #>)23.0f),
			};

			<#= className #> max;

			unsafe {
				fixed (<#= className #>* vPtr = v) {
					max = <#= className #>.Max(vPtr, (uint)v.Length);
				}
			}

			Assert.AreEqual(
				new <#= className #>((<#= baseType #>)3.0f, (<#= baseType #>)13.0f, (<#= baseType #>)23.0f),
				max
			);
		}

		[Test]
		public void <#= className #>_MinMax()
		{
			<#= className #> min, max;

			Assert.Throws<ArgumentNullException>(() => <#= className #>.MinMax(null, out min, out max));

			<#= className #>[] v = new <#= className #>[] {
				new <#= className #>((<#= baseType #>)1.0f, (<#= baseType #>)13.0f, (<#= baseType #>)22.0f),
				new <#= className #>((<#= baseType #>)2.0f, (<#= baseType #>)12.0f, (<#= baseType #>)21.0f),
				new <#= className #>((<#= baseType #>)3.0f, (<#= baseType #>)11.0f, (<#= baseType #>)23.0f),
			};

			<#= className #>.MinMax(v, out min, out max);

			Assert.AreEqual(
				new <#= className #>((<#= baseType #>)1.0f, (<#= baseType #>)11.0f, (<#= baseType #>)21.0f),
				min
			);
			Assert.AreEqual(
				new <#= className #>((<#= baseType #>)3.0f, (<#= baseType #>)13.0f, (<#= baseType #>)23.0f),
				max
			);
		}

		[Test]
		public void <#= className #>_MinMax_Unsafe()
		{
			<#= className #> min, max;

			unsafe {
				Assert.Throws<ArgumentNullException>(() => <#= className #>.MinMax(null, 0, out min, out max));
			}

			<#= className #>[] v = new <#= className #>[] {
				new <#= className #>((<#= baseType #>)1.0f, (<#= baseType #>)13.0f, (<#= baseType #>)22.0f),
				new <#= className #>((<#= baseType #>)2.0f, (<#= baseType #>)12.0f, (<#= baseType #>)21.0f),
				new <#= className #>((<#= baseType #>)3.0f, (<#= baseType #>)11.0f, (<#= baseType #>)23.0f),
			};

			unsafe {
				fixed (<#= className #>* vPtr = v) {
					<#= className #>.MinMax(vPtr, (uint)v.Length, out min, out max);
				}
			}

			Assert.AreEqual(
				new <#= className #>((<#= baseType #>)1.0f, (<#= baseType #>)11.0f, (<#= baseType #>)21.0f),
				min
			);
			Assert.AreEqual(
				new <#= className #>((<#= baseType #>)3.0f, (<#= baseType #>)13.0f, (<#= baseType #>)23.0f),
				max
			);
		}

		#endregion

		#region IEquatable Implementation

		[Test]
		public void <#= className #>_Equals_<#= className #>_AbsPrecision()
		{
			<#= className #> v = <#= className #>.UnitX;

			Assert.IsTrue(v.Equals(<#= className #>.UnitX, (<#= baseType #>)<#= epsilon #>));
			Assert.IsFalse(v.Equals(<#= className #>.UnitY, (<#= baseType #>)<#= epsilon #>));
			Assert.IsFalse(v.Equals(<#= className #>.UnitZ, (<#= baseType #>)<#= epsilon #>));

			// Defined vs Undefined equality
			<#= className #> v1 = new <#= className #>(<#= one #>, <#= one #>, <#= one #>, <#= one #>);
			<#= className #> v2 = new <#= className #>(<#= one #>, <#= one #>, <#= one #>, <#= zero #>);

			Assert.IsFalse(v1.Equals(v2, (<#= baseType #>)<#= epsilon #>));
			Assert.IsFalse(v2.Equals(v1, (<#= baseType #>)<#= epsilon #>));

			// Undefined vs Undefined equality
			v1 = new <#= className #>(<#= one #>, <#= one #>, <#= one #>, <#= zero #>);
			v2 = new <#= className #>(<#= one #>, <#= one #>, <#= one #>, <#= zero #>);

			Assert.IsTrue(v1.Equals(v2, (<#= baseType #>)<#= epsilon #>));
			Assert.IsTrue(v2.Equals(v1, (<#= baseType #>)<#= epsilon #>));

			// Normalized equality
			v1 = new <#= className #>(<#= one #>);
			v2 = new <#= className #>((<#= baseType #>)(<#= one #> + <#= one #>));

			Assert.IsTrue(v1.Equals(v2, (<#= baseType #>)<#= epsilon #>));
			Assert.IsTrue(v2.Equals(v1, (<#= baseType #>)<#= epsilon #>));
		}

		[Test]
		public void <#= className #>_Equals_<#= className #>()
		{
			<#= className #> v = <#= className #>.UnitX;

			Assert.IsTrue(v.Equals(<#= className #>.UnitX));
			Assert.IsFalse(v.Equals(<#= className #>.UnitY));
			Assert.IsFalse(v.Equals(<#= className #>.UnitZ));

			// Defined vs Undefined equality
			<#= className #> v1 = new <#= className #>(<#= one #>, <#= one #>, <#= one #>, <#= one #>);
			<#= className #> v2 = new <#= className #>(<#= one #>, <#= one #>, <#= one #>, <#= zero #>);

			Assert.IsFalse(v1.Equals(v2));
			Assert.IsFalse(v2.Equals(v1));

			// Undefined vs Undefined equality
			v1 = new <#= className #>(<#= one #>, <#= one #>, <#= one #>, <#= zero #>);
			v2 = new <#= className #>(<#= one #>, <#= one #>, <#= one #>, <#= zero #>);

			Assert.IsTrue(v1.Equals(v2));
			Assert.IsTrue(v2.Equals(v1));

			// Normalized equality
			v1 = new <#= className #>(<#= one #>);
			v2 = new <#= className #>((<#= baseType #>)(<#= one #> + <#= one #>));

			Assert.IsTrue(v1.Equals(v2));
			Assert.IsTrue(v2.Equals(v1));
		}

		[Test]
		public void <#= className #>_Equals_Object()
		{
			<#= className #> v = <#= className #>.UnitX;

			Assert.IsFalse(v.Equals(null));
			Assert.IsFalse(v.Equals(String.Empty));
			Assert.IsFalse(v.Equals(0.0f));

			Assert.IsTrue(v.Equals((object)<#= className #>.UnitX));
			Assert.IsFalse(v.Equals((object)<#= className #>.UnitY));
			Assert.IsFalse(v.Equals((object)<#= className #>.UnitZ));
		}

		[Test]
		public void <#= className #>_GetHashCode()
		{
			Random random = new Random();
			
			<#= baseType #> x = (<#= baseType #>)Next(random);
			<#= baseType #> y = (<#= baseType #>)Next(random);
			<#= baseType #> z = (<#= baseType #>)Next(random);

			<#= className #> v = new <#= className #>(x, y, z);

			Assert.DoesNotThrow(delegate() { v.GetHashCode(); });
		}

		#endregion

		#region Object Overrides

		[Test]
		public void <#= className #>_ToString()
		{
			Random random = new Random();
			
			<#= baseType #> x = (<#= baseType #>)Next(random);
			<#= baseType #> y = (<#= baseType #>)Next(random);
			<#= baseType #> z = (<#= baseType #>)Next(random);

			<#= className #> v = new <#= className #>(x, y, z);

			Assert.DoesNotThrow(delegate() { v.ToString(); });
		}

		#endregion
	}

<#
	}
#>
}
