/*.suo
/BindingsGen/BindingsGen/*.user
/BindingsGen/obj
/BindingsGen/bin
/OpenGL.Net/obj
/OpenGL.Net/bin
/OpenGL.Net.Test/obj
/OpenGL.Net.Test/bin
/OpenGL.Net.Test/NUnit
/OpenGL.Net.Test/*.xml
/BindingsGen/*.user
/OpenGL.Hal/obj
/packages/NUnit.2.6.4
packages
/OpenGL.Hal/bin
/BindingsGen.userprefs
/BindingsGen/DocWarnings.txt
/OpenGL.Hal.Test/obj
/OpenGL.Hal.Test/bin
/*.sdf
/Samples/HelloNewton/obj
/Samples/HelloNewton/bin
/GLSpecs/.UpdatedSpecs
/Samples/HelloWorld/bin
/Samples/HelloWorld/obj
/Samples/HelloWorld/Data/Terrain.vrt.ovr
/Samples/HelloWorld/Data/Terrain.vrt
/Samples/HelloWorld/Data/TerrainFileList.txt
/Samples/HelloWorld/Data/dds.cr.usgs.gov
/.vs/BindingsGen/v14
/OpenGL.Hal.Plugins/PluginsSdk/*.user
/OpenGL.Hal.Plugins/OpenGL.Hal.LibTIFF/Debug
/OpenGL.Hal.Plugins/OpenGL.Hal.LibTIFF/Release
/OpenGL.Hal.Plugins/PluginsSdk/Release
/OpenGL.Hal.Plugins/PluginsSdk/Debug
/*.userprefs
/*.zip
/OpenGL.Net/*.nupkg
/.vs
/*.opendb
