/*.suo
/BindingsGen/BindingsGen/*.user
/BindingsGen/obj
/BindingsGen/bin
/OpenGL.Net/obj
/OpenGL.Net/bin
/OpenGL.Net.Test/obj
/OpenGL.Net.Test/bin
/OpenGL.Net.Test/NUnit
/OpenGL.Net.Test/*.xml
/BindingsGen/*.user
/OpenGL.Hal/obj
/packages/NUnit.2.6.4
packages
/OpenGL.Hal/bin
/BindingsGen.userprefs
/BindingsGen/DocWarnings.txt
/OpenGL.Hal.Test/obj
/OpenGL.Hal.Test/bin
/*.sdf
/Samples/HelloNewton/obj
/Samples/HelloNewton/bin
/GLSpecs/.UpdatedSpecs
/Samples/HelloWorld/bin
/Samples/HelloWorld/obj
/Samples/HelloWorld/Data/Terrain.vrt.ovr
/Samples/HelloWorld/Data/Terrain.vrt
/Samples/HelloWorld/Data/TerrainFileList.txt
/Samples/HelloWorld/Data/dds.cr.usgs.gov
/.vs/BindingsGen/v14
/OpenGL.Hal.Plugins/PluginsSdk/*.user
/OpenGL.Hal.Plugins/OpenGL.Hal.LibTIFF/Debug
/OpenGL.Hal.Plugins/OpenGL.Hal.LibTIFF/Release
/OpenGL.Hal.Plugins/PluginsSdk/Release
/OpenGL.Hal.Plugins/PluginsSdk/Debug
/*.userprefs
/*.zip
/OpenGL.Net/*.nupkg
/.vs
/*.opendb
/Libs/ANGLE/winrt10/arm/*.pdb
/Libs/ANGLE/winrt10/x64/*.pdb
/Libs/ANGLE/winrt10/x86/*.pdb
/Libs/ANGLE/winrt10d/x64/*.pdb
/Libs/ANGLE/winrt10d/x86/*.pdb
/OpenGL.Net.Test/*.user
/Samples/HelloTriangle/bin
/Samples/HelloTriangle/obj
/Samples/HelloTriangle.Hal/obj
/Samples/HelloTriangle.Hal/bin
/OpenGL.Net.WinForms/obj
/OpenGL.Net.WinForms/bin
/Samples/HelloTriangle.VB/obj
/Samples/HelloTriangle.VB/bin
/Samples/HelloTriangle.WPF/obj
/Samples/HelloTriangle.WPF/bin
/OpenGL.Net.Xamarin.Android/obj
/OpenGL.Net.Xamarin.Android/bin
/Samples/HelloTriangle.Xamarin.Android/obj
/Samples/HelloTriangle.Xamarin.Android/bin
/*.db
/Samples/ContextSharing/SimpleSharing/obj
/Samples/ContextSharing/SimpleSharing/bin
/Samples/ContextSharing/SingleContext/obj
/Samples/ContextSharing/SingleContext/bin
/Samples/HelloTriangle.ANGLE/obj
/Samples/HelloTriangle.ANGLE/bin
/Samples/HelloTriangle.Xamarin.Android/*.user
/ANGLE
/*.nupkg
/Samples/HelloTriangle.VideoCore/obj
/Samples/HelloTriangle.VideoCore/bin
/OpenGL.Net.VideoCore/obj
/OpenGL.Net.VideoCore/bin
/OpenWF.Net/obj
/OpenWF.Net/bin
