/*.suo
/BindingsGen/BindingsGen/*.user
/BindingsGen/obj
/BindingsGen/bin
/OpenGL.Net/obj
/OpenGL.Net/bin
/OpenGL.Net.Test/obj
/OpenGL.Net.Test/bin
/OpenGL.Net.Test/NUnit
/OpenGL.Net.Test/*.xml
/BindingsGen/*.user
